/* Colores*/
$verde: rgb(119,109,30);
$rosa: rgb(251,98,89) ;
$grisCelestoso: rgb(112, 138, 122);
$celeste: rgb(195,225,231);
$turquesa: rgb(86, 199, 252);

/*Break points*/
$breakpoints:(
    mobil: 480px,
    tablet: 760px,
    desk: 1200px,
);
