@keyframes cambioborede{
    0%{ border-top: 3px solid $verde;
       }
    25%{ border-right:  3px solid $verde;}
    50%{  border-bottom: 3px solid $verde;}
    100%{
        border-left: 3px solid $verde;
       }
}

@keyframes imgInicioMobil{
    0%{ background-image: url(./../../assets/imagenes/sorrentinorosaMano.jpg) ;}
    10%{background-image: url(./../../assets/imagenes/canelones2.jpg);}
    25%{ background-image: url(./../../assets/imagenes/nicoInicio5.jpg);}
    50%{ background-image: url(./../../assets/imagenes/casuelasDulces.jpg) ;}
    75%{ background-image: url(./../../assets/imagenes/nicoInicio6.jpg) ;}
    100%{ background-image: url(./../../assets/imagenes/casuelas.jpg);}
}

